body{
    margin:0px;
} 
.navi{
    height:80px;
    width:100%;
    background-color:black;
    display:flex;
}
.logo{
    flex:1;
    transform:translate(20px,25px);
    width:30px;
   
}
.header{
    flex:9;
    background-color:black;
    display: flex;
    justify-content:center;
    align-items:center;
    color:grey;
}
.header ul{
    display:flex;
    justify-content:space-evenly;
    width:100%;
    align-items:center;
    list-style-type:none;
}
.searchbar{
flex:1;
display:flex;
justify-content:center;
align-items:center;
position:absolute;
right:90px;
top:30px;
transform:translate(00px,-5px);
}
.searchbar input{
    width:30%;
    height:20px;

   
}
.searchbar .icon{
  color:grey;
  position:relative;
  right:30px;
  top:2px;
}
.cart{
    flex:1;
    color:grey;
    position:relative;
    right:-90px;
    top:30px;
  }
 .wish{
    flex:1;
    color:grey;
    position:relative;
    right:-130px;
    top:30px;
  }

.account{
    flex:1;
    color:grey;
    position:relative;
    left:50px;
    top:30px;
}
.poster{
    height:600px;
    width:100%;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTttAicgOnnWTaNyjHR5WfFpIuFmrHBKCpE7wDL87SYZf8cPJBB");
    background-repeat:no-repeat;
    background-size:100% 600px;
}
    .sd{
        height:300px;
        width:100%;
        transform:translate(0px,20px);
        background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQIl3-k_dO_GfGIzteqCwYoenixJpgb1Ogcwjl9OCv8b2HcnyJh");
        background-repeat:no-repeat;
        background-size:100% 300px;
    }

/* .round{
    height:250px;
    width:100%;
    background-color:white;
    transform:translate(500px,-300px);
} */
.round h3{
        transform:translate(300px,50px);
        font-size:25px;
        
    }

.circle{
        height:200px;
        width:400px;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
        transform:translate(-100px,-75px);
}

     .p1{
        height:70px;
        width:70px;
        border-radius:50%;
        color:white;
        background-color:maroon;
        border:1px solid black;
        flex:1;
        font-size:12px;
        padding:10px 20px;
        transform:translate(350px,100px);
        text-align:center;
    }

     .p2{
        height:70px;
        width:70px;
        border-radius:50%;
        color:white;
        background-color:maroon;
        border:1px solid black;
        flex:1;
        font-size:12px;
        padding:10px 20px;
        transform:translate(390px,100px);
        text-align:center;
     }
     .p3{
        height:70px;
        width:70px;
        border-radius:50%;
        color:white;
        background-color:maroon;
        border:1px solid black;
        flex:1;
        font-size:12px;
        padding:10px 10px;
        transform:translate(410px,100px);
        text-align:center;
     }
     .p4{
        height:70px;
        width:70px;
        border-radius:50%;
        color:white;
        background-color:maroon;
        border:1px solid black;
        flex:1;
        font-size:12px;
        padding:10px 30px;
        transform:translate(440px,100px);
        text-align:center;
     }
        .p5{
            height:70px;
            width:70px;
            border-radius:50%;
            color:white;
            border:1px solid black;
            background-color:maroon;
            flex:1;
            font-size:12px;
            padding:10px 20px;
            transform:translate(470px,100px);
            text-align:center;
        }
        .p6{
            flex:1;
            height:70px;
            width:70px;
            border-radius:50%;
            color:white;
            border:1px solid black;
            background-color:maroon;
           font-size:12px;
            padding:10px 20px;
            transform:translate(500px,100px);
            text-align:center;
        }
           
 .scoo{           
    height:600px; 
    width:100%;
    background-image:url("https://kenlu.net/wp-content/uploads/2024/11/lamelo-ball-puma-mb-04-scooby-doo-release-news-3.jpg");
    background-repeat:no-repeat;
    background-size:100% 600px;
}
 .scoo h1{
color:white;
background-color:rgba(0, 0, 0, 0.644);
transform:translate(450px,00px);
height:200px;
text-align:center;
width:600px;
}
.scoo h3{
color:white;
/* background-color:rgba(0, 0, 0, 0.644); */
transform:translate(450px,-150px);
height:200px;
text-align:center;
width:600px;
}
.scoo button{
    transform:translate(700px,-325px);
    border-radius:5px;
    padding:10px 20px;
    font-size:18px;
}
.pics{
    height:400px;
    width:1318px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    transform:translate(-100px,100px);
    
}
.pics h2{
    transform:translate(580px,-70px);
    text-align:center;
}
.run{
    height:400px;
    width:180px;
    flex:1;
}
.training{
    height:400px;
    width:180px;
    flex:1;
}
.football{
    height:400px;
    width:180px;
    flex:1;
}
.ball{
    height:400px;
    width:180px;
    flex:1;
}
.studio{
    height:400px;
    width:180px;
    flex:1;
}
.pics p{
    transform:translate(30px,-50px);
    width:180px;
    background-color:white;
}
.kohli{
    height:500px;
    width:1318px;
    background-size:contain;
    transform:translate(0px,150px);
}
.kohli h2{
    height:200px;
    width:400px;
    font-weight:80;
    font-size:35px;
    transform:translate(20px,-500px);
   color:white;
    text-align:center;
}
.kohli p{
    font-weight:45;
    transform:translate(60px,-680px);
    color:white;
}
.kohli button{
    padding:10px 15px;
    transform:translate(60px,-680px);
    color:white;
    background-color:black;
}
.h1{
    height:20px;
    width:400px;
    background-color:white;
    transform:translate(30px,150px);
    color:black;
    text-align:center;
    font-size:20px;
}
.shoes{
height:350px;
 background-color:white;
 display:flex;
 overflow:scroll;
 transform:translate(0px,200px);
 justify-content:space-between;
 width:100%;
}

.shoes .s1{
    flex:1;
}
.s1 p{
    transform:translate(20px,-70px);   
}
.s1 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s1 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s1 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s2{
    flex:1;
}
.s2 p{
    transform:translate(20px,-70px);   
}
.s2 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s2 h3{
    transform:translate(250px,50px);
    color:red;
    } 
.s2 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s3{
    flex:1;
}
.s3 p{
    transform:translate(20px,-70px);   
}
.s3 h5{
transform:translate(30px,-180px);  
background-color:red;
width:40px;
} 
.s3 h3{
    transform:translate(250px,-110px);
    color:red;
    } 
.s3 h4{
    transform:translate(250px,-120px);
    color:grey;
        } 
.shoes .s4{
    flex:1;
}
.s4 p{
    transform:translate(20px,-70px);   
}
.s4 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s4 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s4 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s5{
    flex:1;
}
.s5 p{
    transform:translate(20px,-70px);   
}
.s5 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s5 h3{
    transform:translate(250px,-150px);
    color:red;
    } 
.s5 h4{
    transform:translate(250px,-160px);
    color:grey;
        } 
.shoes .s6{
    flex:1;
}
.s6 p{
    transform:translate(20px,-70px);   
}
.s6 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s6 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s6 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s7{
    flex:1;
}
.s7 p{
    transform:translate(20px,-70px);   
}
.s7 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s7 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s7 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s8{
    flex:1;

}
.s8 p{
    transform:translate(20px,-70px);   
}
.s8 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s8 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s8 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s9{
    flex:1;
}
.s9 p{
    transform:translate(20px,-70px);   
}
.s9 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s9 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s9 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.shoes .s10{
    flex:1;
}
.s10 p{
    transform:translate(20px,-70px);   
}
.s10 h5{
transform:translate(20px,-380px);  
background-color:red;
width:40px;
} 
.s10 h3{
    transform:translate(250px,-170px);
    color:red;
    } 
.s10 h4{
    transform:translate(250px,-180px);
    color:grey;
        } 
.view{
    transform:translate(0px,200px);
}
.view p{
    transform:translate(20px,40px);   
}
.view h5{
transform:translate(20px,-40px);  
background-color:red;
width:40px;
} 
.view h3{
    transform:translate(250px,-80px);
    color:red;
    } 
.view h4{
    transform:translate(250px,-90px);
    color:grey;
        } 
.rescent{
    height:400px;
    transform:translate(0px,100px);
}

.text{
    background-color:black;
    color:white;

}
table th{
    right:60px;
}
@media (max-width:769px){
    body{
        margin:0px;
    } 
    .header{
       justify-content:flex-end;
    }
    .header ul{
        display:none;
    
    }
    .header .menu{
     transform:translate(-500px,5px);
    }
    .searchbar{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    right:90px;
    top:30px;
    transform:translate(-50px)
    }
    .searchbar input{
        width:30%;
        height:20px;
       
    }
    .searchbar .icon{
      color:grey;
      position:relative;
      right:30px;
      top:2px;
    }
    .cart{
        transform:translate(-500px,0px);
      }
     .wish{
        transform:translate(-500px,0px);
      }
    
    .account{
        transform:translate(-620px,00px);
    }
    
    .poster{
        background-repeat:no-repeat;
        background-size:1080px 500px;
    }
    .sd{
        transform:translate(0px,-70px);
        background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQIl3-k_dO_GfGIzteqCwYoenixJpgb1Ogcwjl9OCv8b2HcnyJh");
        background-repeat:no-repeat;
        background-size:1080px 400px;
    }
    
    
    .round h3{
        transform:translate(-100px,-100px);
        font-size:25px;
    }
    .circle{ 
        transform:translate(160px,-280px);
    }
         .p1{
        
  transform:translate(140px,00px);
         }
         .p2{
     transform:translate(160px,0px);
         }
         .p3{
     transform:translate(180px);
         }
         .p4{
    transform:translate(200px);
    
         }
         .p5{
    transform:translate(220px);
        
            }
        .p6{
    transform:translate(240px );
         }
     .scoo{           
        height:700px; 
        width:800px;
        background-image:url("https://kenlu.net/wp-content/uploads/2024/11/lamelo-ball-puma-mb-04-scooby-doo-release-news-3.jpg");
        background-repeat:no-repeat;
        background-size:769px 800px;
    }
     .scoo h1{
    color:white;
    background-color:rgba(0, 0, 0, 0.644);
    transform:translate(430px,0px);
    width:300px;
    font-size:20px;
    height:150px;
    }
    .scoo h3{
        color:white;
    transform:translate(300px,-120px);
    height:200px;
    text-align:center;
    width:600px;
    font-size:15px;
    }
    .scoo button{
        transform:translate(550px,-300px);
        border-radius:5px;
        padding:5px 10px;
        font-size:16px;
    }
    .pics{
        height:400px;
        width:1318px;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        
    }
    .pics h2{
        transform:translate(580px,-70px);
        text-align:center;
    }
    .run{
        height:400px;
        width:180px;
        flex:1;
    }
    .training{
        height:400px;
        width:180px;
        flex:1;
    }
    .football{
        height:400px;
        width:180px;
        flex:1;
    }
    .ball{
        height:400px;
        width:180px;
        flex:1;
    }
    .studio{
        height:400px;
        width:180px;
        flex:1;
    }
    .pics p{
        transform:translate(30px,-50px);
        width:180px;
        background-color:white;
    }
    .kohli{
        height:500px;
        width:1318px;
        background-size:contain;
        transform:translate(0px,40px);
    }
    .kohli h2{
        height:200px;
        width:400px;
        font-weight:80;
        font-size:35px;
        transform:translate(20px,-500px);
       color:white;
        text-align:center;
    }
    .kohli p{
        font-weight:45;
        transform:translate(60px,-680px);
        color:white;
    }
    .kohli button{
        padding:10px 15px;
        transform:translate(60px,-680px);
        color:white;
        background-color:black;
    }
    .h1{
        height:20px;
        width:400px;
        background-color:white;
        transform:translate(30px,50px);
        color:black;
        text-align:center;
        font-size:20px;
    }
    .shoes{
    height:400px;
     background-color:white;
     display:flex;
     overflow:scroll;
     transform:translate(0px,100px);
     justify-content:space-between;
    }
    
    .shoes .s1{
        flex:1;
    }
    .s1 p{
        transform:translate(20px,-70px);   
    }
    .s1 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s1 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s1 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s2{
        flex:1;
    }
    .s2 p{
        transform:translate(20px,-70px);   
    }
    .s2 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s2 h3{
        transform:translate(250px,50px);
        color:red;
        } 
    .s2 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s3{
        flex:1;
    }
    .s3 p{
        transform:translate(20px,-70px);   
    }
    .s3 h5{
    transform:translate(80px,-420px);  
    background-color:red;
    width:40px;
    } 
    .s3 h3{
        transform:translate(250px,-110px);
        color:red;
        } 
    .s3 h4{
        transform:translate(250px,-120px);
        color:grey;
            } 
    .shoes .s4{
        flex:1;
    }
    .s4 p{
        transform:translate(20px,-70px);   
    }
    .s4 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s4 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s4 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s5{
        flex:1;
    }
    .s5 p{
        transform:translate(20px,-70px);   
    }
    .s5 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s5 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s5 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s6{
        flex:1;
    }
    .s6 p{
        transform:translate(20px,-70px);   
    }
    .s6 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s6 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s6 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s7{
        flex:1;
    }
    .s7 p{
        transform:translate(20px,-70px);   
    }
    .s7 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s7 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s7 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s8{
        flex:1;
    }
    .s8 p{
        transform:translate(20px,-70px);   
    }
    .s8 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s8 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s8 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s9{
        flex:1;
    }
    .s9 p{
        transform:translate(20px,-70px);   
    }
    .s9 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s9 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s9 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .shoes .s10{
        flex:1;
    }
    .s10 p{
        transform:translate(20px,-70px);   
    }
    .s10 h5{
    transform:translate(20px,-380px);  
    background-color:red;
    width:40px;
    } 
    .s10 h3{
        transform:translate(250px,-170px);
        color:red;
        } 
    .s10 h4{
        transform:translate(250px,-180px);
        color:grey;
            } 
    .view{
        transform:translate(0px,150px);
    }.view .h2{
        transform:translate(0px,100px);
    }
        .view p{
            transform:translate(20px,80px);   
        }
        .view h5{
        transform:translate(20px,-50px);  
        background-color:red;
        width:40px;
        } 
        .view h3{
            transform:translate(220px,-20px);
            color:red;
            } 
        .view h4{
            transform:translate(220px,-30px);
            color:grey;
                } 
    
    .rescent{
        height:400px;
        transform:translate(0px,100px);
    }
    
    .text{
        background-color:black;
        color:white;
    
    }
    table th{
        right:60px;

}
}
@media(min-width:769px){
    .symbol span{
        display:none;
    }
}
   
    